

.container {
    display:flex;
    justify-content: center;
    align-items: center;
}
.LoginCard {
    display: block;
    height:420px;
    width:425px;
    margin-top:90px;
     border-width: solid 1px;
    box-shadow: 2px 4px 8px 10px rgba(0,0,0,0.2);
justify-content: center;
align-items: center
    /* text-align: center */
}
.formContainer {
    display: block;
  
    padding :10px;
}
.ButtonsConatiner{
    display: flex;
    flex-direction: row;
    width:100%;

}
.ButtonsOneStyle{
    width:50%;
   
}
.ButtonsTwoStyle{
    width:50%;
    
}




