.container {
    display: block;
    /* background-color: aqua; */
    /* height:700px; */
    padding:10px;
    margin: 5px;
    
}
.row {
    display: flex;
    /* background-color: blueviolet; */
    height:600px;
    /* width:200px; */
    padding:10px;
    flex-direction: row;
    flex-wrap: wrap;
    
    /* justify-content: space-around */
    
}
.rowCards {
    /* background-color: darkgreen; */
    display: block;
    height:220px;
    width:225px;
    justify-content: center;
    margin:5px;
    border-width: solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    align-items: center;
    text-align: center
    /* flex-direction: column, */
  
   
}
.rowCards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
.cardImage {
    height:190px;
    width:190px;
}

.cardInfo {

}

