.test_container {

    border : 2px solid rgb(33, 184, 138);
    text-align : center;
    outline :  rgb(28, 70, 209) solid 15px;
    margin :auto;
    padding: 5px;

}
.text_container {

    text-align: justify;
    width: 200px;
  height: 200px;
  border:1px solid gray;

}

.text_link a:active {
    text-decoration: line-through;
}
p.para {
text-transform: capitalize;
}

ul {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }