.container {
    display: flex;
    /* background-color: blueviolet; */
    margin-top:6px;
   
}

.produtcContainer {
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    border: 2px solid #e0e0e0;
    width:100%
}

.produtcImage {
    display: flex; 
     background-color: blue; 
     
     width: 50%; 
     justify-content:center;
    align-items: center; 
  
 } 

.produtinfo {
    /* background-color: burlywood; */
    /* display: flex; */
    width: 100%;
    border-left-color: black;
    border-left: 1px solid rgb(187, 184, 184);
    
   
}
.cardImage {
    
    width:450px;
    height:400px
}